body {
    background-color: aqua;
}

h1 {
    color: blue
}

h2 {
    color: blue
}

h3 {
    color: blue;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}
